{% liquid
  assign target = variant | default: product.selected_or_first_available_variant
  assign compare_at_price = target.compare_at_price
  assign price = target.price | default: product.price
%}

<span class="morganics-price" data-product-price>
  {% assign show_compare = false %}
  {% if compare_at_price > price %}
    {% assign show_compare = true %}
  {% endif %}
  <span class="morganics-price__regular{% if show_compare %} morganics-price__regular--sale{% endif %}">{{ price | money }}</span>
  <s class="morganics-price__compare"{% unless show_compare %} hidden{% endunless %}>{{ compare_at_price | money }}</s>
</span>
